{% extends '_base.html' %}
{% load static %}
{% block content %}
    <div class="card">
        <img class="card-img-top" src="{% static 'img/classroom_expectations.jpg' %}" alt="Card image cap">
        <div class="card-block">
            <h3 class="card-header card-title text-center">NEVER MISS A CLASS AGAIN</h3>
        </div>
    </div>
{% endblock %}