html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 80px;
}

nav.navbar {
    background-color: #7b1b1b;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav .nav-link, .navbar-brand a {
    color: #fff;
}

.navbar-brand img {
    height: 60px;
}

.navbar-brand img {
    height: 60px;
}

.navbar-brand a:hover {
    text-decoration: none;
}

.sub-brand {
    font-size: 75%;
    opacity: 0.7;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #7b1b1b;
    color: #bbb;
}

.footer .container {
    background-color: #7b1b1b;
}

.footer a {
    color: #ccc;
}

.content {
    padding: 1.5rem;
}

#map-canvas {
    height: 400px;
}

.staff-photo {
    width: 200px;
    display: inline-block;
    margin-right: 1rem;
    float: left;
    height: 290px;
}

.stamp {
    width: 280px;
    margin-right: 1rem;
    height: 295px;
    border: 1px solid #ccc;
    float: left;
    overflow: hidden;
}

.stamp img {
    height: 150px;
    max-width: 250px;
}

.stamp-image {
    height: 150px;
}

.series {
    width: 280px;
    margin-right: 1rem;
    height: 230px;
    border: 1px solid #ccc;
    float: left;
}

.series-image {
    height: 125px;
}

@media only screen and (min-width: 768px) {
    .lg-margin {
        margin-top: 4.7rem;
    }
}

@media only screen and (max-width: 768px) {
    .lg-margin img {
        width: 100%;
    }
}

.search-filters{
    border-left: 1px dashed #ccc;
    padding: 0 0 0 1rem;
}

.search-filters label{
    margin-top: 1rem;
}

.selectize-input > div, .selectize-input{
    border-radius: 0 !important;
}

.years a{
    text-decoration: underline;
    margin: 0.5rem;
    font-size: large;
}