{% extends '_base.html' %}
{% load i18n %}

{% block title %} Lectures {% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item active" href="{% url 'course-list' %}">Course List</a>
{% endblock %}

{% block content %}

    <div class="filter-row row">
        <div class="col-md-12 mb-2">
            {% include "_search_filter.html" %}
        </div>
    </div>

    {% load pagination_tags %}
    {% autopaginate object_list %}


    {% for object in object_list %}

        <div class="card">
            <div class="card-block">
                <a href="">
                    <h4 class="card-title">{{ object }} <a href="{% url 'lecture-list'%}?schedule__course={{ object.id }}" class="btn btn-success float-right">Lectures</a></h4>
                </a>
                {#                 {% if request.user.student %}#}
                {#                {% url 'lecture-list' request.user.student.section object.id %}#}
                {#                {% if request.user.instruction %}#}
                {#                {% url 'section-list' request.user.instructor.id object.id %}#}
                {#                and in section list#}
                {#                {% url 'lecture-list' section.id object.id %}#}

            </div>
        </div>

    {% endfor %}

    {% paginate %}

{% endblock %}