{% extends '_base.html' %}
{% load i18n %}

{% block title %} Lectures {% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item active" href="{% url 'lecture-list' %}">Lecture List</a>
{% endblock %}

{% block content %}

    <div class="filter-row row">
        <div class="col-md-12 mb-2">
            {% include "_search_filter.html" %}
        </div>
    </div>

    {% load pagination_tags %}
    {% autopaginate object_list %}


    {% for object in object_list %}

        <div class="card">
            <div class="card-block">
                <a href="{% url 'lecture-detail' object.pk %}">
                    <h4 class="card-title">{{ object }}</h4>
                </a>

            </div>
        </div>

    {% endfor %}

    {% paginate %}

{% endblock %}