{% extends '_base.html' %}
{% block title %}Class Login{% endblock %}

{% block content %}

<div class="card">
    <div class="card-block">
    <h3 class="card-title">Class Login</h3>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
{% endblock %}