<div class="clearfix"></div>
<footer class="footer">
    <div class="container text-center">
        <span>Copyright © - Saugat - {% now "Y" %} </span>
        <span>| Developed and Published by <a target="_blank" href="#">Saugat</a></span>
    </div>
</footer>