{% load staticfiles %}
<nav class="navbar navbar-toggleable-md navbar-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="media navbar-brand">
        {#        <a class="hidden-xs-down" href="/"><img class="d-flex mr-3" src="{% static 'img/coa.png' %}" alt="Coat of Arms"></a>#}
        <div class="media-body">
            <h3 class="mb-0 hidden-xs-down"><a href="/">ClassRoom</a></h3>
            <a class="hidden-sm-up" href="/">study</a>
            <a class="sub-brand hidden-xs-down" href="/">Never miss a class again.</a>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav">


            <li class="nav-item">
                <a class="nav-link" href="{% url 'course-list' %}">Courses</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'lecture-list' %}">Lectures</a>
            </li>
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="{% url 'testimonial_list' %}">Testimonials</a>#}
            {#            </li>#}
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="{% url 'download_list' %}">Downloads</a>#}
            {#            </li>#}
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>#}
            {#            </li>#}
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="{% url 'about_us' %}">About Us</a>#}
            {#            </li>#}
        </ul>
    </div>
</nav>